<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>


    <script src="/static/javascripts/jquery-3.4.1.min.js"></script>
    <script src="/static/javascripts/bootstrap/bootstrap.js"></script>

    <link rel='stylesheet' href='/static/stylesheets/bootstrap/bootstrap.css' />
    <link rel='stylesheet' href='/static/stylesheets/bootstrap/bootstrap-grid.css' />
    <link rel='stylesheet' href='/static/stylesheets/bootstrap/bootstrap-reboot.css' />



    <script src="/static/javascripts/client.js"></script>
    <link rel='stylesheet' href='/static/stylesheets/style.css' />


  </head>

  <body class="container">

  <header>
    <% include ../partials/header %>
  </header>
  <main>
    <div class="jumbotron">

      <h3><%= serverSideMessage %> </h3>

      <button id="totalButton" class="btn btn-primary"
              onclick="displayTotalPerPerson('TypeScript Kulanıcı tarafında (Client Side) Çalıştı')">
        TypeScript Client Side </button>

      <h3 id="spanClientSideMessage"></h3>

    </div>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>

  </body>
</html>
